.cabecera {
    display: flex;
    justify-content: space-evenly;
}

#container {
    width: 100vw;
    height: 75vh;    
    background-image: url("../../images/backimg.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    overflow: hidden;
}

.games {
    display: inline-flex;
    flex-direction: column;
    width: 15vw;
    height: 20vh;
    background-color: red;
    margin: 10px;
    overflow: hidden;
}

img {
    width: 20vw;
    height: auto;
}