.body {
    width: 100vw;
    height: 100vh;    
    background-image: url("../../images/backimgdifu.jpg");
    background-size: 100%;
}

.cabecera {
    display: flex;
    justify-content: space-evenly;
}

.presentation {
    display: flex;
}


.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 55vw;
    height: 55vh;
    display: flex;
    justify-content: left;
    padding: 2px
}

h4, ul {
    margin: 1vh
}

span {
    padding: 1vw
}